{% extends '@EasyAdmin/crud/detail.html.twig' %}

{% block main %}
    {{ parent() }}
	<turbo-frame class="zone-editor" data-controller="zone-editor" id="records" data-zone="{{ zone }}" data-zone-type="{{ zoneType }}">

		<div class="content-header-title">
			<h2 class="title" style="float: left;">
				{% trans %}pdns.dns.records{% endtrans %}
			</h2>
			<button class="btn btn-primary" style="float: right;" data-bs-toggle="modal" data-bs-target="#newRecordModal">
				{% trans %}pdns.dns.add_record{% endtrans %}
			</button>
		</div>
		<table class="table datagrid">
			<thead>
				<tr>
					<th><span>
						{% trans %}pdns.dns.name{% endtrans %}
					</span></th>
					<th><span>
						{% trans %}pdns.dns.ttl{% endtrans %}
					</span></th>
					<th><span>
						{% trans %}pdns.dns.type{% endtrans %}
					</span></th>
					<th><span>
						{% trans %}pdns.dns.content{% endtrans %}
					</span></th>
					<th><span>
						{% trans %}pdns.dns.comment{% endtrans %}
					</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for record in records %}
					{% if record.type != 'SOA' %}
						<tr>
							<td>{{ record.displayName|default(record.name) }}</td>
							<td>{{ record.ttl }}</td>
							<td>{{ record.type }}</td>
							<td style="word-break: break-word;">{{ record.content }}</td>
							<td>{{ record.comment }}</td>
							<td class="actions" style="white-space: nowrap;">
								<a href="#" class="action-detail" data-bs-toggle="modal" data-bs-target="#editRecordModal" data-action="zone-editor#editRecord" data-record="{{ record.toArray()|json_encode }}">Edit</a>
								<a href="#" class=" action-delete text-danger" data-action="zone-editor#deleteRecord" data-record="{{ record.toArray()|json_encode }}">Delete</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% set data = { identifier: 'newRecordModal', action: 'zone-editor#addRecord' } %}
		{% include 'forms/record_modal.html.twig' with data %}

		{% set data = { identifier: 'editRecordModal', action: 'zone-editor#updateRecord' } %}
		{% include 'forms/record_modal.html.twig' with data %}
	</turbo-frame>
{% endblock %}