{% extends '@EasyAdmin/crud/detail.html.twig' %}

{% block main %}
    {{ parent() }}
	<twig:Turbo:Frame class="zone-editor" data-controller="zone-editor" id="records" data-zone="{{ zone }}" data-zone-type="{{ zoneType }}">

		<div class="content-header-title">
			<h2 class="title" style="float: left;">Records</h2>
			<button class="btn btn-primary" style="float: right;" data-bs-toggle="modal" data-bs-target="#newRecordModal">Add Record</button>
		</div>
		<table class="table datagrid">
			<thead>
				<tr>
					<th><span>Name</span></th>
					<th><span>TTL</span></th>
					<th><span>Type</span></th>
					<th><span>Content</span></th>
					<th><span>Comment</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for record in records %}
					{% if record.type != 'SOA' %}
						<tr>
							<td>{{ record.displayName }}</td>
							<td>{{ record.ttl }}</td>
							<td>{{ record.type }}</td>
							<td style="word-break: break-word;">{{ record.content }}</td>
							<td>{{ record.comment }}</td>
							<td class="actions" style="white-space: nowrap;">
								<a href="#" class="action-detail" data-bs-toggle="modal" data-bs-target="#editRecordModal" data-action="zone-editor#editRecord" data-record="{{ record|json_encode }}">Edit</a>
								<a href="#" class=" action-delete text-danger" data-action="zone-editor#deleteRecord" data-record="{{ record|json_encode }}">Delete</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		<div class="modal fade" id="newRecordModal" tabindex="-1" role="dialog" aria-labelledby="newRecordModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="newRecordModalLabel">Add Record</h5>
					</div>
					<div class="modal-body">
						{% set data = { id: 'addForm', action: 'zone-editor#addRecord' } %}
						{% include 'forms/record.twig' with data %}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" form="addForm">Create</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="editRecordModal" tabindex="-1" role="dialog" aria-labelledby="editRecordModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="editRecordModalLabel">Edit Record</h5>
					</div>
					<div class="modal-body">
						{% set data = { id: 'editForm', action: 'zone-editor#updateRecord' } %}
						{% include 'forms/record.twig' with data %}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" form="editForm">Save</button>
					</div>
				</div>
			</div>
		</div>
	</twig:Turbo:Frame>
{% endblock %}