{% extends '@!EasyAdmin/crud/index.html.twig' %}


{% block table_body %}
	{% for entity in entities %}
		{% if entity.isAccessible %}
			{% set rowAction = null %}
			{% if entity.actions.count > 0 %}
				{% for action in entity.actions %}
					{% if action.name == 'detail' %}
						{% set rowAction = action %}
					{% endif %}
				{% endfor %}
			{% endif %}
			<tr data-id="{{ entity.primaryKeyValueAsString }}"
				{% if rowAction %}
					onclick="if(event.target.nodeName != 'A' && event.target.parentElement.nodeName != 'A') Turbo.visit('{{ rowAction.linkUrl }}')"
					class="clickable"
				{% endif %}
			>
				{% if has_batch_actions %}
					<td class="batch-actions-selector">
						<div class="form-check">
							<input type="checkbox" class="form-check-input form-batch-checkbox" id="form-batch-checkbox-{{ loop.index0 }}" value="{{ entity.primaryKeyValue }}">
						</div>
					</td>
				{% endif %}

				{% for field in entity.fields %}
					{% set is_searchable = null == ea.crud.searchFields or field.property in ea.crud.searchFields %}

					<td data-column="{{ field.property }}" data-label="{{ field.label|trans|e('html_attr') }}" class="{{ is_searchable ? 'searchable' }} {{ field.property == sort_field_name ? 'sorted' }} text-{{ field.textAlign }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}" {% for name, value in field.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
						{{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
					</td>
				{% endfor %}

				{% block entity_actions %}
					{{ parent() }}
				{% endblock entity_actions %}
			</tr>

		{% endif %}
	{% else %}
		{% block table_body_empty %}
			{{ parent() }}
		{% endblock table_body_empty %}
	{% endfor %}

	{% if some_results_are_hidden %}
		<tr class="datagrid-row-empty">
			<td class="text-center" colspan="100">
				<span class="datagrid-row-empty-message"><twig:ea:Icon name="internal:lock" class="mr-1" /> {{ 'datagrid.hidden_results'|trans({}, 'EasyAdminBundle') }}</span>
			</td>
		</tr>
	{% endif %}
{% endblock table_body %}